@page
@model IndexModel
@{
    ViewData["Title"] = "Nas & Damian Marley - Patience ft. Amadou & Marriam";
}

<div class="text-center">
    <h1 class="display-4">Nas & Damian "Jr. Gong" Marley - Patience ft. Amadou & Marriam</h1><br />
    <p>One of my favourite songs from 2010!</p>
    <br />
    <br />
        <div class="video_container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/c9VQye6P8k0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>   
        <br />
        <br />
        <button class="info" onclick="showInfo()">Click here to see more info!</button>
        <div id="details">
        “Patience” is a track from Nas and Damian Marley’s collaborative album Distant Relatives. It is a collaborative studio album by Nas and Jamaican reggae vocalist Damian Marley. It was released on May 18, 2010, by Universal Republic and Def Jam Recordings.
        </div>
</div>
